.adminPage__box{
    display: flex;
    flex-direction: column;
    padding: 50px 10px;
}

.adminPage_tab{
    width: 50%;
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
}

.adminPage_tab .tabs__btn {
    padding: 0.5rem 0.75rem;
    font-size: 16px;
    font-weight: normal;
    color: #000;
    line-height: 24px;
    width: 30%;
    border: 1px solid #000;
    cursor: pointer;
    border-radius: 10px 10px 0 0;
    background-color: white;
}

.adminPage_tab .tabs__btn_active {
    background: #e0e0e0;
    cursor: default;
}

.tabs__btn:not(.tabs__btn_active):hover,
.tabs__btn:not(.tabs__btn_active):focus {
    background-color: #eee;
}

.timetable_box{
    display: flex;
    justify-content: space-between;
}

.table_box table{
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #d2d2d2;
}

.table_box th{
    border: 1px solid #d2d2d2;
    font-size: 16px;
    background: #eeeded;
    padding: 8px;
}

.table_box td{
    border: 1px solid #d2d2d2;
    font-size: 16px;
    padding: 8px;
}

.table_box .time_table{
    width: 70%;
    height: 50px;
    table-layout: fixed;
    border-collapse: collapse;
    border: 1px solid #d2d2d2;
}
.time_table td p{
    line-height: 25px;
}
.time_table th {
	overflow:hidden;
}
.time_table th:nth-of-type(1) {
	width:250px;
}
.no_event{
    text-align: center;
    height: 50px;
    font-size: 18px;
}

.adminPage__box .cell_filter{
    display: flex;
    align-items: center;
    justify-content: center;
}

.filter_text {
    width: auto;
    float: right;
    position: relative;
    margin-left: 10px;
}
.filter_text:after {content:""; clear:both; display:table}

.filter_text input {
  width: 250px;
  height: 42px;
  padding-left: 15px;
  padding-right: 50px;
  border-radius: 42px;
  border: 2px solid #324b4e;
  background: #fff;
  outline: none;
  transition: .3s linear;
}
.filter_text input:focus {
  width: 300px;
}
.filter_text button {
  width: 30px;
  height: 42px;
  background: none;
  border: none;
  position: absolute;
  right: 5px;
}
.filter_text button:before{
  content: "\f002";
  font-family: FontAwesome;
  color: #324b4e;
}
.filter_text .clear_btn{
    width: 30px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    right: 30px;
}
.filter_text .clear_btn:before{
    content: "\2716";
    font-size: medium;
    color: #324b4e;
}

.adminPage__box .filter_Time{
    position: relative;
    margin-left: 10px;
    width: 100px;
    height: 30px;
    padding-left: 15px;
    border-radius: 42px;
    border: 2px solid #324b4e;
    background: #fff;
}
.adminPage__box .filter_Time input {
    height: 25px;
    position: absolute;
    left: 12px;
}
.adminPage__box .filter_time_interval{
    /* position: relative; */
    display: flex;
}
.adminPage__box .filter_time_input p{
    font-weight:normal;
}
.adminPage__box .filter_time_interval button, .adminPage__box .filter_time_interval .clear_btn{
    width: 42px;
    height: 30px;
    background: none;
    border: none;
}
.adminPage__box .filter_time_interval button:before{
    content: "\f002";
    font-family: FontAwesome;
    color: #324b4e;
}
.adminPage__box .filter_time_interval .clear_btn:before{
    content: "\2716";
    font-family: FontAwesome;
    color: #324b4e;
}
.adminPage__box .filter_time_btn{
    width: 42px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.timetable_box .calendar-container{
    width: 25%;
    font-size: 18px;
    margin-right: 40px;
}

.react-calendar{
    border-radius: 5px;
}
.react-calendar__navigation{
    background-color: #eeeded;
}
.react-calendar__navigation__label{
    font-size: 18px;
}

.export_import_container{
    display: flex;
    justify-content: center;
    margin: 50px;
}
.selectDB{
    display: none;
}
.export_import_container form{
    margin: 0 10px;
}
.export_import_container .inputFile{
    height: 42px;
    font-size: 14px;
}
.export_import_container .btn{
    width: 150px;
    height: 42px;
    padding: 0 10px;
    background-color: #29323d;
    color: white;
    border-radius: 21px;
    font-size: 14px;
    font-weight: bold;
}

.adminPage__box .title{
    margin: 20px 0;
    font-size: 26px;
    font-weight: bold;
    color: #3b4754;
    text-align: left;
}
.adminPage__box .subtitle{
    margin: 0 0 20px 0;
    font-size: 20px;
    font-weight: bold;
    color: #3b4754;
    text-align: left;
}

.pagination{
    margin-top: 20px;
    align-items: center;
}
.page-item{
    background-color: #e0e0e0; 
    font-size: 16px;
    color: black;
    border-radius: 4px;
    padding: 10px;
    margin: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.page-item:hover {
    background-color: #29323d; 
    color: white;
}

.page-item[disabled] {
    color: #d2d5db;
    background: #6c7589;
    cursor: not-allowed;
}
.currpage {
    background-color: #29323d; 
    color: white;
}
.pagination-select select{
    background-color: #e0e0e0; 
    font-size: 16px;
    color: black;
    border-radius: 4px;
    padding: 10px;
    margin: 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}
.pagination-select select:hover {
    background-color: #29323d; 
    color: white;
}
.pagination-select p{
    display: inline;
    font-size: 16px;
    color: black;
}

.previous-item{
    margin-right: 13px;
}

.next-item{
    margin-left: 13px;
}