.modalNotice__overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    right: 0px;
    width: 300px;
}

.modalNotice{
    background-color: #fff;
    padding: 26px;
    font-size: 14px;
    width: 100%;
    border: 1px solid #000;
    border-radius: 5px;
    position: relative;
}

.modalNotice .close_btn{
    width: 30px;
    height: 42px;
    background: none;
    border: none;
    position: absolute;
    top: 0px;
    right: 0px;
}
.modalNotice .close_btn:before{
    content: "\2716";
    font-size: medium;
    color: #324b4e;
}

.notice_content{
    border: 1px solid #000;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
}